html,
body {
	height: 100%;
	min-height: 100%;
}

.header {
	@include linear-gradient(to bottom right, $dark-blue, $light-blue);
	position: relative;
	color: $white;
	text-align: center; // background: $light-blue;
	height: 100vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	background: url('../assets/paisaje6.jpg');
	.layer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include linear-gradient(to bottom right,
		$dark-blue-rgba,
		$light-blue-rgba);
	}
	.container-title {
		margin: auto;
		display: inline-block;
		text-align-last: left;
		position: relative;
		z-index: 2;
		background: rgba($color: $grey, $alpha: 0.5);
		padding: 20px 50px 50px 20px;
		border-radius: 1px;
		.lastname {
			text-transform: uppercase;
			font-family: 'Oswald-regular';
			font-size: 100px;
		}
		.firstname {
			font-family: 'Raleway-regular';
			font-size: 70px;
		}
		.status {
			padding: 10px 0;
			font-family: 'Raleway-regular';
			text-transform: uppercase;
			font-size: 25px;
			margin-left: 2px;
		}
	}
	.social-network {
		position: absolute;
		left: 30px;
		width: auto;
		z-index: 2;
		transition: 0.3s ease-in-out;
		top: 50%;
		margin-top: -100px;
		&:hover {
			padding: 15px;
			.item-social i {
				font-size: 40px;
			}
		}
		.item-social {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			transition: .3s ease-in-out;
			&:hover {
				transform: rotate(45deg);
			}
			i {
				padding: 0 5px;
				font-size: 35px;
				color: #ffffffb0;
				transition: 0.1s linear;
				&:hover {
					color: $white;
					transition: 0.1s linear;
				}
			}
		}
	}
}

.diagonal-shape {
	width: 100%;
	height: 300px;
	background: white;
	transform: skewY(-3deg);
	margin-top: -100px;
}

footer {
	@include linear-gradient(to top left,
	$dark-blue,
	$light-blue);
	padding: 125px 0 200px 0;
	.info-title {
		color: $white;
		font-family: 'Raleway-regular';
		font-size: 22px;
	}
}

.title-part {
	font-family: 'Raleway-regular';
	font-size: 50px;
	padding: 20px 15px;
	text-align: center;
	color: $dark-blue;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-decoration: underline;
	text-underline-position: above;
}

.projects-list {
	.header-projects-list {
		padding: 25px 0;
		background-image: linear-gradient(to bottom, $dune, #666, $white, $white, $white); // background: $dune;
	} // padding: 100px 0;
}

.project {
	// padding: 50px 0;
	border: 1px solid $dark-blue;
	border-radius: 2px;
	width: 60%;
	margin: 50px auto;
	transition: transform 0.2s ease; // &:hover {
	overflow: hidden;
	position: relative;
	transition: 0.3s ease;
	.banner-project {
		transition: .3s ease;
		opacity: 0;
		position: absolute; // top: 50%;
		bottom: 0;
		width: 100%;
		transform: translateY(100%);
		text-align: center;
		.content {
			background-color: $dark-blue;
			color: $white;
			font-size: 1.5em;
			padding: 50px;
			font-family: 'Raleway-regular';
			border: 1px solid $dune;
		}
	}
	&:hover {
		box-shadow: 0px 5px 20px 0px $dune;
		border-color: $white;
		.banner-project {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.details {
	list-style: none;
	font-family: 'Open-italic', Helvetica, sans-serif;
	li {
		color: white;
	}
}

.copyright {
	margin-top: 50px;
	font-family: 'Open-regular';
}

.contact-container {
	.active-modal {
		font-family: 'Open-italic';
	}
	margin-top: 10px;
}

.contact-me {
	font-family: 'Oswald-regular';
	position: relative;
	top: 20px;
	font-size: 25px;
	margin-left: 2px;
	margin-top: 10px;
	display: inline-block;
	padding: 10px 50px;
	border: 1px solid $cold-purple;
	border-radius: 1px;
}

#honeypot {
	display: none;
	/*makes the field not visible to humans*/
}

.loader {
	border: 16px solid #f3f3f3;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#gform {
	font-family: 'Raleway-regular';
	text-align: center;
	.submit-btn {
		// background: $cold-purple;
		border: 1px solid $cold-purple;
		border-radius: 1px;
		display: inline-block;
		color: $dark-blue;
		width: unset;
		cursor: pointer;
		padding-left: 20px;
		padding-right: 20px;
		margin: 10px;
		font-size: 20px;
	}
	.form-input {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.modal-container {
	padding: 0;
}

.custom-modal-header {
	@include linear-gradient(to bottom right,
	$dark-blue,
	$light-blue);
	color: white;
	width: 100%;
}

// .custom-modal-footer {
// 	@include linear-gradient(to top left,
// 	$dark-blue,
// 	$light-blue);
// 	padding: 100px 0;
// }
.modal-container .custom-modal-body {
	padding: 20px;
}

.myavatar {
	position: relative;
	border-radius: 50%;
	background: #ffffffb0;
	display: block;
	width: 200px; // margin-left: -100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: auto;
	transform: scale(1.1);
	box-shadow: 0 0 55px rgba($dune, 0.4);
}