.color-white {
	color: $white;
}

.bg-white {
	background: $white;
}

.color-lightblue {
	color: $light-blue;
}

.bg-lightblue {
	background: $light-blue;
}

.img-blur {
	filter: grayscale(100%);
	transition: 0.2s linear;

	&:hover {
		filter: unset;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.oswald-reg {
	font-family: 'Oswald-regular';
}

.oswald-bold {
	font-family: 'Oswald-bold';
}

.raleway-reg {
	font-family: 'Raleway-regular';
}

.raleway-bold {
	font-family: 'Raleway-bold';
}

.open-reg {
	font-family: 'Open-regular';
}

.open-bold {
	font-family: 'Open-bold';
}

.open-italic {
	font-family: 'Open-italic';
}