.color-white {
	color: $white;
}

.bg-white {
	background: $white;
}

.color-lightblue {
	color: $light-blue;
}

.bg-lightblue {
	background: $light-blue;
}

.img-blur {
	filter: grayscale(100%);
	transition: 0.2s linear;

	&:hover {
		filter: unset;
	}
}