$cold-purple: #9CA3DB;
$light-blue: #677DB7;
$dark-blue: #454B66;
$dune: #322A26;
$dark: #191308;
$white: #fff;
$grey: #333;

$dark-blue-rgba: rgba(69, 75, 102, 0.5);
$light-blue-rgba: rgba(103, 125, 183, 0.5);